@charset "utf-8";
/*--------------------FONTS--------------------*/
@font-face {
  font-family: "Format 1452 ZEPTEPI";
  src: url(/fonts/format-1452-zeptepi.woff);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ZEPTEPI Symbols";
  src: url(/fonts/zeptepi-symbols.woff);
  font-weight: normal;
  font-style: normal;
}
/*--------------------BROWSER--------------------*/
::-webkit-scrollbar {
  display: none;
}
::selection {
  background: rgb(0,0,1);
}
h1::selection, h2::selection, p::selection, a::selection {
  color: #3278ff;
}
/*--------------------GENERAL--------------------*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: normal;
  box-sizing: border-box;
}
html {
  font-family: ZEPTEPI-Format, Helvetica, Arial, "sans-serif";
  background-color: #3278ff;
  color: #000;
  overflow-x: hidden;
  scrollbar-width: none; /*Firefox*/
}
body {
  margin: 10px 0;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  background-color: #000;
}
.simboli img {
  background-color: transparent;
}
h1, h2 {
  font-size: calc(13.3px + 6.8vw); /*100px > 35px*/
  margin-bottom: .5em;
}
p {
  font-size: calc(15.7px + 0.7vw); /*25px > 18px*/
  margin-bottom: 1em;
}
h1, h2, p {
  min-height: 0vw; /*Safari Fix*/
}
/*--------------------LINKS--------------------*/
a {
  text-decoration: none;
  color: inherit;
}
.underline {
  text-decoration: underline;
}
/*--------------------VARIE--------------------*/
.sezione {
  margin: calc(26.7px + 7.3vw) /*120px > 50px*/ calc(-13.3px + 7.3vw) /*80px > 10px*/;
}
.sezione.contatti {
  text-align: center;
}
.simboli {
  white-space: nowrap;
  user-select: none;
}
.simboli img {
  width: calc(12.8px + 2.0vw); /*3vw > 6vw*/
  margin: 0 1vw;
  user-drag: none;
}
.titolo{
  text-align: justify;
  text-align-last: justify;
  /*prevent blank line*/
  height: 1em;
  line-height: 1;
}
.titolo:after{
  content: "";
  display: inline-block;
  width: 100%;
}
.row {
  display: flex;
}
.row img {
  min-width: 100%; /*fix if viewport > original px width*/
}
.column-1 {
  flex: 100%;
}
.column-2 {
  flex: 50%;
}
.column-1, .column-2 {
  margin-bottom: calc(6.7px + 1.0vw); /*20px > 10px*/
}
.column-1, .column-2 img {
  width: 100%;
}
.column-2:nth-child(odd) {
  margin-right: calc(6.7px + 1.0vw); /*20px > 10px*/
}
#artwork {
  margin-right: 50px;
}
.button div {
  text-align: center;
  letter-spacing: .5em;
  padding: 15px 0 10px 0;
  background-color: #3278ff;
}
.button div:hover {
  background-color: #000;
  color: #3278ff;
}
.button p {
  margin-bottom: 0;
}
.bordo, .row img {
  border: calc(1.7px + 0.1vw) /*3px > 2px*/ solid #000;
  border: calc(1.7px + 0.1vw) /*3px > 2px*/ solid transparent;
}
.button .bordo {
  border-color: #000;
}
.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.video iframe {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#tracklist p:not(:last-child) {
  margin-bottom: 0;
}
#soundcloud, .primo {
  margin-top: calc(23.3px + 2.1vw); /*50px > 30px*/
}
/*--------------------MOBILE--------------------*/
@media only screen and (max-width: 900px) {
  .row {
    display: block;
  }
  .column-2:nth-child(odd) {
    margin-right: 0;
  }
  #artwork {
    margin-right: 0;
    margin-bottom: calc(10.0px + 3.1vw); /*50px > 20px*/
  }
  .column-2.artwork {
    margin: 0;
  }
}
