@font-face {
  font-family: "Format 1452 ZEPTEPI";
  src: url(/fonts/format-1452-zeptepi.woff);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ZEPTEPI Symbols";
  src: url(/fonts/zeptepi-symbols.woff);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bw Gradual";
  src: url(/fonts/bw-gradual/BwGradual-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: $black;
}

* {
  margin: 0;
  font-weight: 400;
  box-sizing: border-box;
}

html, body, input, textarea, button {
  font-family: "Bw Gradual", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #000000;
  max-width: 767px;
  margin: 0 auto;
  outline: 1px solid #ffffff;
  outline-color: #ffffff;
}

::-moz-selection {
  color: #000000;
  background-color: #ffffff;
}

::selection {
  color: #000000;
  background-color: #ffffff;
}

.text-justify {
  text-align: justify;
  margin-bottom: -1em;
}
.text-justify:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

h1, h2, h3 {
  line-height: 1;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: inherit;
}

b, strong {
  font-weight: 600;
}

.underline {
  text-decoration: underline;
}
.underline:hover {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.border {
  border: 1px solid #ffffff;
}

.section {
  padding: 40px 15px;
}

footer {
  border-top: 1px solid #ffffff;
  border-color: #ffffff;
}

.d-flex {
  display: flex;
  gap: 40px;
}

.small-gap {
  gap: 10px;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
  align-items: start;
}
.flex-row > * {
  min-width: 0;
  flex-basis: 100%;
}

.d-inline-block {
  display: inline-block;
}

.hide {
  display: none;
}

.touch-show {
  display: none;
}

img, video {
  border-radius: 5px;
  display: block;
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.youtube {
  border-radius: 5px;
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  line-height: 0;
}

.soundcloud {
  border-radius: 5px;
}

a.button {
  border-radius: 5px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  border: 1px solid #ffffff;
  cursor: pointer;
  padding: 20px 10px;
}
a.button:hover {
  background-color: #000000;
  color: #ffffff;
}

#contatti .d-flex {
  gap: 20px;
}

.sticky-title {
  position: sticky;
  top: -1px;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-bottom: 1px solid #ffffff;
  border-color: #ffffff;
  color: #ffffff;
  background-color: #000000;
  z-index: 2;
}

.main-navigation-bar {
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 999;
  width: 100%;
  max-width: 767px;
  gap: 0;
  transform: translateX(-50%);
}
.main-navigation-bar .sticky-title {
  background-color: transparent;
  border-bottom: 0;
  position: relative;
}

#dropdown {
  pointer-events: auto;
  gap: 0;
  transform: translateX(calc(100% + 1px));
  transition: transform 0.3s ease-in-out;
}
#dropdown.active {
  transform: translateX(0%);
}
#dropdown a {
  background-color: #000000;
  padding: 15px 10px;
  border-bottom: 1px solid #ffffff;
  border-color: #ffffff;
  box-shadow: -1px 0 0 #ffffff;
}
#dropdown a:first-of-type {
  border-top: 1px solid #ffffff;
}
#dropdown a:hover {
  background-color: #ffffff;
  color: #000000;
}

#hamburger {
  pointer-events: auto;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 22px;
  height: 15px;
  gap: 0;
  justify-content: space-between;
}
#hamburger .line {
  background-color: #ffffff;
  height: 1px;
  width: 100%;
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}
#hamburger.active .line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
#hamburger.active .line:nth-child(2) {
  transform: scaleX(0);
}
#hamburger.active .line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

#intro .sticky-title {
  z-index: 9;
}

#intro .section {
  gap: 20px;
}

#hero-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: none;
  z-index: -1;
}

#hero-title {
  font-family: "Format 1452 ZEPTEPI", Helvetica, Arial, sans-serif;
  font-size: 35px;
}

.simboli {
  font-family: "ZEPTEPI Symbols";
  font-size: 55px;
}

#hero-title, .simboli {
  color: #ffffff;
  justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 8;
}
#hero-title span, .simboli span {
  text-align: center;
  line-height: 1;
}

#rifrazioni {
  padding-top: 150px;
}

.swiper {
  width: 100%;
  border-radius: 5px;
}

.ratio-16-9 {
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}

.ratio-9-16 {
  aspect-ratio: 9/16;
  -o-object-fit: cover;
     object-fit: cover;
}

.ratio-4-3 {
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}

.ratio-3-4 {
  aspect-ratio: 3/4;
  -o-object-fit: cover;
     object-fit: cover;
}

.ratio-3-2 {
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
}

.ratio-2-3 {
  aspect-ratio: 2/3;
  -o-object-fit: cover;
     object-fit: cover;
}

.ratio-1-1 {
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1025px) {
  .lg-hide {
    display: none !important;
  }
  .section {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .md-hide {
    display: none !important;
  }
  .section {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .sm-hide {
    display: none !important;
  }
  html, body, input, textarea, button {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */