@font-face
    font-family: "Format 1452 ZEPTEPI"
    src: url(/fonts/format-1452-zeptepi.woff)
    font-weight: normal
    font-style: normal
@font-face
    font-family: "ZEPTEPI Symbols"
    src: url(/fonts/zeptepi-symbols.woff)
    font-weight: normal
    font-style: normal
@font-face
    font-family: "Bw Gradual"
    src: url(/fonts/bw-gradual/BwGradual-Regular.woff)
    font-weight: 400
    font-style: normal
$symbols: "ZEPTEPI Symbols"
$format-1452: "Format 1452 ZEPTEPI", Helvetica, Arial, sans-serif
$bw-gradual: "Bw Gradual", Helvetica, Arial, sans-serif
$blue: #3278ff
$black: #ffffff
$white: #000000
$dark-grey: #444444
$lg-break: 1440px
$md-break: 1024px
$sm-break: 767px
$gap: 10px
$border: 1px solid $black
$radius: 5px
// -------------------------------------------------- general
:root
    --swiper-theme-color: $black
*
    margin: 0
    font-weight: 400
    box-sizing: border-box
html, body, input, textarea, button
    font-family: $bw-gradual
    color: $black
    font-size: 15px
    -webkit-font-smoothing: antialiased
body
    background-color: $white
    max-width: $sm-break
    margin: 0 auto
    outline: $border
    outline-color: $black
::selection
    color: $white
    background-color: $black
.text-justify
    text-align: justify
    margin-bottom: -1em
    &:after
        content: ""
        display: inline-block
        width: 100%
.text-right
    text-align: right
.text-center
    text-align: center
h1, h2, h3
    line-height: 1
    font-size: 22px
a
    text-decoration: none
    color: inherit
b, strong
    font-weight: 600
.underline
    text-decoration: underline
    &:hover
        color: $white
        background-color: $black
        text-decoration: none
.border
    border: $border
// -------------------------------------------------- display
.section
    padding: 4*$gap 1.5*$gap
footer
    border-top: $border
    border-color: $black
.d-flex
    display: flex
    gap: 4*$gap
.small-gap
    gap: $gap
.flex-column
    flex-direction: column
.flex-row
    flex-direction: row
    align-items: start
    > *
        min-width: 0
        flex-basis: 100%
.d-inline-block
    display: inline-block
.hide
    display: none
.touch-show
    display: none
// -------------------------------------------------- altro
img, video
    border-radius: $radius
    display: block
    // background-color: $dark-grey
    max-width: 100%
    user-select: none
.youtube
    border-radius: $radius
    // background-color: $dark-grey
    aspect-ratio: 16/9
    width: 100%
    height: 100%
    line-height: 0
.soundcloud
    border-radius: $radius
    // background-color: $dark-grey
a.button
    border-radius: $radius
    text-align: center
    background-color: $black
    color: $white
    outline: none
    border: $border
    cursor: pointer
    padding: 2*$gap $gap
    &:hover
        background-color: $white
        color: $black
#contatti .d-flex
    gap: 2*$gap
// -------------------------------------------------- navigation
.sticky-title
    position: sticky
    top: -1px
    left: 0
    width: 100%
    padding: 2*$gap $gap
    text-align: center
    user-select: none
    border-bottom: $border
    border-color: $black
    color: $black
    background-color: $white
    z-index: 2
.main-navigation-bar
    overflow: hidden
    pointer-events: none
    position: fixed
    top: 0
    left: 50%
    z-index: 999
    width: 100%
    max-width: $sm-break
    gap: 0
    transform: translateX(-50%)
    .sticky-title
        background-color: transparent
        border-bottom: 0
        position: relative
#dropdown
    pointer-events: auto
    gap: 0
    transform: translateX(calc(100% + 1px))
    transition: transform .3s ease-in-out
    &.active
        transform: translateX(0%)
    a
        background-color: $white
        padding: 1.5*$gap $gap
        border-bottom: $border
        border-color: $black
        box-shadow: -1px 0 0 $black
    a:first-of-type
        border-top: $border
    a:hover
        background-color: $black
        color: $white
#hamburger
    pointer-events: auto
    position: absolute
    top: 50%
    right: $gap
    transform: translateY(-50%)
    cursor: pointer
    width: 22px
    height: 15px
    gap: 0
    justify-content: space-between
    .line
        background-color: $black
        height: 1px
        width: 100%
        transform-origin: center
        transition: transform .3s ease-in-out
    &.active
        .line:nth-child(1) 
            transform: translateY(7px) rotate(45deg)
        .line:nth-child(2)
            transform: scaleX(0)
        .line:nth-child(3) 
            transform: translateY(-7px) rotate(-45deg)
// -------------------------------------------------- first slide
#intro .sticky-title
    z-index: 9
#intro .section
    gap: 2*$gap
#hero-image
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    width: 100%
    aspect-ratio: 4/3
    object-fit: cover
    max-width: none
    z-index: -1
#hero-title
    font-family: $format-1452
    font-size: 35px
.simboli
    font-family: $symbols
    font-size: 55px
#hero-title, .simboli
    color: $black
    justify-content: space-between
    user-select: none
    z-index: 8
    span
        text-align: center
        line-height: 1
// -------------------------------------------------- swiper
.swiper
    width: 100%
    border-radius: $radius
.ratio-16-9
    aspect-ratio: 16/9
    object-fit: cover
.ratio-9-16
    aspect-ratio: 9/16
    object-fit: cover
.ratio-4-3
    aspect-ratio: 4/3
    object-fit: cover
.ratio-3-4
    aspect-ratio: 3/4
    object-fit: cover
.ratio-3-2
    aspect-ratio: 3/2
    object-fit: cover
.ratio-2-3
    aspect-ratio: 2/3
    object-fit: cover
.ratio-1-1
    aspect-ratio: 1
    object-fit: cover
// -------------------------------------------------- media queries
@media screen and (max-width: $lg-break)
@media screen and (min-width: $md-break + 1)
    .lg-hide
        display: none !important
    .section
        padding-left: 3*$gap
        padding-right: 3*$gap
@media screen and (max-width: $md-break)
@media screen and (max-width: $md-break) and (min-width: $sm-break + 1)
    .md-hide
        display: none !important
    .section
        padding-left: 3*$gap
        padding-right: 3*$gap
@media screen and (max-width: $sm-break)
    .sm-hide
        display: none !important
    html, body, input, textarea, button
        font-size: 14px